In [1]:
import pandas as pd


df2019 = pd.read_csv("Resources/Cohort_2019.csv")
df2020 = pd.read_csv("Resources/Cohort_2020.csv")
df2021 = pd.read_csv("Resources/Cohort_2021.csv")
df2022 = pd.read_csv("Resources/Cohort_2022.csv")
df2023 = pd.read_csv("Resources/Cohort_2023.csv")

In [ ]:
df2019.head()

In [ ]:
df2021.head()

In [ ]:
df2023.head()

In [3]:
df_combined = pd.concat([df2019, df2020, df2021, df2022, df2023], ignore_index=True)
df_combined

,Cohort Year,Graduation Rate Type,LEA Entity ID,LEA Name,School Entity ID,School Name,County,Subgroup,Number Graduated,Number in Cohort,Percent Graduated in 4 Years
0,2019,4 Year,4158,Chinle Unified District,4737,Chinle High School,Apache,ELL Cohort,*,*,43.75
1,2019,4 Year,4158,Chinle Unified District,4737,Chinle High School,Apache,All,180,247,72.87
2,2019,4 Year,4158,Chinle Unified District,4737,Chinle High School,Apache,Male,78,118,66.1
3,2019,4 Year,4158,Chinle Unified District,4737,Chinle High School,Apache,Homeless Cohort,*,*,*
4,2019,4 Year,4158,Chinle Unified District,4737,Chinle High School,Apache,Female,102,129,79.07
...,...,...,...,...,...,...,...,...,...,...,...
39203,2023,4 Year,1001949,Arizona Goodwill Education Services,1001974,The Excel Center - Encanto,Maricopa,Female,*,106,*
39204,2023,4 Year,1001949,Arizona Goodwill Education Services,1001974,The Excel Center - Encanto,Maricopa,Hispanic or Latino,*,65,*
39205,2023,4 Year,1001949,Arizona Goodwill Education Services,1001974,The Excel Center - Encanto,Maricopa,Male,*,27,*
39206,2023,4 Year,1001949,Arizona Goodwill Education Services,1001974,The Excel Center - Encanto,Maricopa,Multiple Races,*,*,*
39207,2023,4 Year,1001949,Arizona Goodwill Education Services,1001974,The Excel Center - Encanto,Maricopa,White,*,32,*

In [5]:
df_combined = df_combined.set_index("Cohort Year")
df_combined.tail()

,Graduation Rate Type,LEA Entity ID,LEA Name,School Entity ID,School Name,County,Subgroup,Number Graduated,Number in Cohort,Percent Graduated in 4 Years
Cohort Year,,,,,,,,,,
2023,4 Year,1001949,Arizona Goodwill Education Services,1001974,The Excel Center - Encanto,Maricopa,Female,*,106,*
2023,4 Year,1001949,Arizona Goodwill Education Services,1001974,The Excel Center - Encanto,Maricopa,Hispanic or Latino,*,65,*
2023,4 Year,1001949,Arizona Goodwill Education Services,1001974,The Excel Center - Encanto,Maricopa,Male,*,27,*
2023,4 Year,1001949,Arizona Goodwill Education Services,1001974,The Excel Center - Encanto,Maricopa,Multiple Races,*,*,*
2023,4 Year,1001949,Arizona Goodwill Education Services,1001974,The Excel Center - Encanto,Maricopa,White,*,32,*

In [7]:
df_combined = df_combined.drop(columns=['Graduation Rate Type'])
df_combined

,LEA Entity ID,LEA Name,School Entity ID,School Name,County,Subgroup,Number Graduated,Number in Cohort,Percent Graduated in 4 Years
Cohort Year,,,,,,,,,
2019,4158,Chinle Unified District,4737,Chinle High School,Apache,ELL Cohort,*,*,43.75
2019,4158,Chinle Unified District,4737,Chinle High School,Apache,All,180,247,72.87
2019,4158,Chinle Unified District,4737,Chinle High School,Apache,Male,78,118,66.1
2019,4158,Chinle Unified District,4737,Chinle High School,Apache,Homeless Cohort,*,*,*
2019,4158,Chinle Unified District,4737,Chinle High School,Apache,Female,102,129,79.07
...,...,...,...,...,...,...,...,...,...
2023,1001949,Arizona Goodwill Education Services,1001974,The Excel Center - Encanto,Maricopa,Female,*,106,*
2023,1001949,Arizona Goodwill Education Services,1001974,The Excel Center - Encanto,Maricopa,Hispanic or Latino,*,65,*
2023,1001949,Arizona Goodwill Education Services,1001974,The Excel Center - Encanto,Maricopa,Male,*,27,*
2023,1001949,Arizona Goodwill Education Services,1001974,The Excel Center - Encanto,Maricopa,Multiple Races,*,*,*
2023,1001949,Arizona Goodwill Education Services,1001974,The Excel Center - Encanto,Maricopa,White,*,32,*

In [9]:
df_combined.columns

Index(['LEA Entity ID', 'LEA Name', 'School Entity ID', 'School Name',
       'County', 'Subgroup', 'Number Graduated', 'Number in Cohort',
       'Percent Graduated in 4 Years'],
      dtype='object')

In [11]:
# Extract unique values from a specific column
df_combined['Subgroup'].unique

<bound method Series.unique of Cohort Year
2019            ELL Cohort
2019                   All
2019                  Male
2019       Homeless Cohort
2019                Female
               ...
2023                Female
2023    Hispanic or Latino
2023                  Male
2023        Multiple Races
2023                 White
Name: Subgroup, Length: 39208, dtype: object>

In [13]:
# subgroups_df= df_combined[df_combined["Subgroup"]== "Male","Female", "Hispanic or Latino", "Homeless", "All"]

subgroups_df = df_combined[df_combined['Subgroup'].isin(["Male", "Female", "Hispanic or Latino", "Homeless", "All"])]

subgroups_df

,LEA Entity ID,LEA Name,School Entity ID,School Name,County,Subgroup,Number Graduated,Number in Cohort,Percent Graduated in 4 Years
Cohort Year,,,,,,,,,
2019,4158,Chinle Unified District,4737,Chinle High School,Apache,All,180,247,72.87
2019,4158,Chinle Unified District,4737,Chinle High School,Apache,Male,78,118,66.1
2019,4158,Chinle Unified District,4737,Chinle High School,Apache,Female,102,129,79.07
2019,4157,Ganado Unified School District,4728,Ganado High School,Apache,All,85,108,78.7
2019,4157,Ganado Unified School District,4728,Ganado High School,Apache,Male,29,44,65.91
...,...,...,...,...,...,...,...,...,...
2023,1001719,Online School of Arizona,1001732,Online School of Arizona,Pima,Male,*,11,*
2023,1001949,Arizona Goodwill Education Services,1001974,The Excel Center - Encanto,Maricopa,All,*,133,*
2023,1001949,Arizona Goodwill Education Services,1001974,The Excel Center - Encanto,Maricopa,Female,*,106,*
2023,1001949,Arizona Goodwill Education Services,1001974,The Excel Center - Encanto,Maricopa,Hispanic or Latino,*,65,*
2023,1001949,Arizona Goodwill Education Services,1001974,The Excel Center - Encanto,Maricopa,Male,*,27,*

In [15]:
subgroups_df['Subgroup'] = subgroups_df['Subgroup'].replace('Homeless', 'Unhoused')

C:\Users\javie\AppData\Local\Temp\ipykernel_19492\3541442910.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subgroups_df['Subgroup'] = subgroups_df['Subgroup'].replace('Homeless', 'Unhoused')

In [17]:
subgroups_df.to_csv('merged_cohorts_df.csv', index=True)  # 'index=False' if we decided to exclude it from the CSV